@import "tailwindcss";

@theme inline {
  --color-background: #000000;
  --color-foreground: #e4e4e7;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: ui-sans-serif, system-ui, sans-serif;
  color-scheme: dark;
}

/* Tech Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

@layer utilities {
  .glass {
    @apply bg-white/[0.02] backdrop-blur-md border border-white/[0.05];
  }
}
